@charset "utf-8";
/* CSS Document */

* {
	font-family: sans-serif;
}

.header h1 {
	color: #006580;
	font-size: 30px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 18px;
}

.menu li {
	list-style-type: none;
}

.menu a {
	color: #ffffff;
	text-decoration: none;
}

.aside p {
	font-size: 0.75em;
}

.footer p {
	font-size: 0.75em;
	opacity: 0.5;
}